body{
    background-color: #2E2E2E;
    overflow-x: hidden;
}
h1{
    color: white;
    text-align: center;
}
.planetLot{
    display: inline-flex;
    flex-direction: row;
}
.planetCards{
    scrollbar-color: red orange;
    scrollbar-width: thin;
}
.planets:hover{
    overflow-x: scroll;
}
.starshipLot{
    display: inline-flex;
    flex-direction: row;
}
.starships:hover{
    overflow-x: scroll
}